﻿@model PerfumeStore.WebUI.Areas.Admin.Models.DTO.UserDTO
@{ 
    ViewBag.Title = "Profile";
}
<h2>@ViewBag.Title</h2>
<hr />

<div class="panel-group">
    <div class="panel panel-info">
        <div class="panel-heading">My Profile</div>
        <div class="panel-body">
            @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    @Html.LabelFor(o => o.Email, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(o => o.Email, new { @class = "form-control", @placeholder = "Customer Name", disabled = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(o => o.UserName, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(o => o.UserName, new { @class = "form-control", @placeholder = "Confirmation Number", disabled = "true" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(o => o.Membership, new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.TextBoxFor(o => o.Membership, new { @class = "form-control", @placeholder = "Delivery Date", disabled = "true" })
                    </div>
                </div>
            }
        </div>
    </div>
</div>



