﻿@using PerfumeStore.Extension
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Danilo Perfumes</title>
    <link rel="icon" type="image/x-icon" href="~/images/favorite.ico">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fancy")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .vcenter {
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <ul class="nav navbar-nav">
                    <li class="@Html.IsSelected(actions: "Index", controllers: "Home")">@Html.ActionLink("Danilo Perfumes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                </ul>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@Html.IsSelected(actions: "Male", controllers: "Product")">@Html.ActionLink("Male", "Male", "Product", new { area = "" }, null)</li>
                    <li class="@Html.IsSelected(actions: "Female", controllers: "Product")">@Html.ActionLink("Female", "Female", "Product", new { area = "" }, null)</li>
                    <li class="@Html.IsSelected(actions: "Unisex", controllers: "Product")">@Html.ActionLink("Unisex", "Unisex", "Product", new { area = "" }, null)</li>                    
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container">        
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Danilo Perfumes</p>
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
