﻿@{
    ViewBag.Title = "Home Page";
}
@Html.Partial("_FrontPartial")
<div class="jumbotron">
    <h1>Perfume Store</h1>
    <p>Welcome to Danilo Perfumes store! You can purchase perfumes here. Also you can register as 'Regular' user to purchase products or, register as 'Advanced' user to sell your own products!</p>
    <div class="row">
        <div class="col-sm-2">@Html.ActionLink("Female", "Female", "Product")</div>
        <div class="col-sm-2">@Html.ActionLink("Male", "Male", "Product")</div>
        <div class="col-sm-2">@Html.ActionLink("Unisex ", "Unisex", "Product")</div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-4"></div>
    </div>
</div>

<div class="panel-group">
    <div class="panel panel-primary">
        <div class="panel-body">Default User Account</div>
    </div>
    <div class="panel panel-default">
        <ul class="list-group">
            <li class="list-group-item">admin@perfumestore.com / admin</li>
            <li class="list-group-item">advanced@perfumestore.com / advanced</li>
            <li class="list-group-item">regular@perfumestore.com / regular</li>
        </ul>
    </div>
</div>



