﻿@using PerfumeStore.Extension;
@model IEnumerable<PerfumeStore.WebUI.Areas.Admin.Models.DTO.ProductOrderDTO>
@{
    ViewBag.Title = "My Product Orders";
}
@Html.Partial("_FrontPartial")

@if (Model.Count() == 0)
{
    <h3 class="box-title">You have no order yet!</h3>
}
else
{
    foreach (var product in Model)
    {
        <div class="panel panel-info">
            <div class="panel-heading">Product Id: @product.ProductId</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="well well-sm">
                            <div class="row">
                                <div class="col-sm-2">Product Name:</div>
                                <div class="col-sm-10">@product.ProductName</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">Category:</div>
                                <div class="col-sm-10">@product.CategoryName</div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">Price:</div>
                                <div class="col-sm-10">@Html.FormattedCurrency(product.Price)</div>
                            </div>
                        </div>
                    </div>                    
                </div>
                <hr />
                <div>                    
                    <table class="table table-striped" id="modelList">
                        <thead>
                            <tr>
                                <th>Order Id</th>
                                <th>User Name</th>
                                <th>Address</th>
                                <th>Confirmation Number</th>
                                <th>Delivery Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in product.Orders)
                            {
                                <tr>
                                    <td>@order.OrderId</td>
                                    <td>@order.UserName</td>
                                    <td>@order.Address</td>
                                    <td>@order.ConfirmationNumber</td>
                                    <td>@order.DeliveryDate</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr><td></td><td></td><td></td><td></td><td></td></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>    
    }
}