﻿@using PerfumeStore.Extension;
@model PerfumeStore.WebUI.Models.OrderViewModel
@{
    ViewBag.Title = "Place Order";
    double total = 0;
}

@Html.Partial("_FrontPartial")
<h2 style="color:red">@ViewBag.TransactionStatus</h2>
<div class="row">
    <div class="col-sm-6">
        <div class="panel-group">
            <div class="panel panel-info">
                <div class="panel-heading">Order</div>
                <div class="panel-body">
                    @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(o => o.OrderId, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(o => o.OrderId, new { @class = "form-control", @placeholder = "Customer Name", disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(o => o.UserName, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(o => o.UserName, new { @class = "form-control", @placeholder = "Customer Name", disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(o => o.ConfirmationNumber, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(o => o.ConfirmationNumber, new { @class = "form-control", @placeholder = "Confirmation Number", disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(o => o.DeliveryDate, new { @class = "col-sm-4 control-label" })
                            <div class="col-sm-8">
                                @Html.TextBoxFor(o => o.DeliveryDate, new { @class = "form-control", @placeholder = "Delivery Date", disabled = "true" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>        
    </div>
    <div class="col-sm-6">
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">Shipping Address</div>
                <div class="panel-body">
                    @using (Html.BeginForm("PlaceOrder", "ShoppingCart", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                    {
                        <div class="form-group">
                            @Html.LabelFor(o => o.FullName, new { @class = "col-md-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(o => o.FullName, new { @class = "form-control", @placeholder = "Full Name", disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(o => o.Address, new { @class = "col-md-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(o => o.Address, new { @class = "form-control", @placeholder = "Address", disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(o => o.City, new { @class = "col-md-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(o => o.City, new { @class = "form-control", @placeholder = "City", disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(o => o.State, new { @class = "col-md-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(o => o.State, new { @class = "form-control", @placeholder = "State", disabled = "true" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(o => o.Zip, new { @class = "col-md-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(o => o.Zip, new { @class = "form-control", @placeholder = "Zip", disabled = "true" })
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>        
    </div>
</div>

<hr />
<table class="table table-striped" id="modelList">
    <thead>
        <tr>
            <th>Product Id</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Sub Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@Html.FormattedCurrency(item.GetDiscountedPrice())</td>
                <td>@item.Quantity</td>
                <td>@Html.FormattedCurrency(item.GetTotalCost())</td>
            </tr>
            total += item.GetTotalCost();
        }
    </tbody>
    <tfoot>
        <tr><td></td><td></td><td></td><td>Total:</td><td>@Html.FormattedCurrency(total)</td></tr>
    </tfoot>
</table>
